.myv {
    margin-bottom: 10%;
  }

.titulito {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.textomedio {
    display: flex;
    text-align: center;
    margin-top: 20px;
}